<h1 class="title">Dodaj nowy zdjęcie!</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="url">Url Zdjęcia: </label>
    <input id="url" type="text"
           [(ngModel)]="url"
           name="photoUrl"
           formControlName="photoUrl"
           class="form-control">
    <div class="text-danger" *ngIf="photoUrl.touched && photoUrl.invalid">
      <div *ngIf="photoUrl.errors.required">Wpisz ścieżkę url zdjęcia, które chcesz dodać</div>
      <div *ngIf="!photoUrl.errors.photoUrlExistValidator">Nie udało się znaleźć zdjęcia, które chcesz dodać</div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-4">
      <div *ngIf="photoUrl.valid">
        <p class="d-flex justify-content-center" >Czy to jest zdjęcie, które chcesz dodać?</p>
        <img [src]="url" class="w-100" alt="">
      </div>
    </div>

    <div class="col-7 offset-1">
      <label for="tagsTextArea">
        <p>Wpisz tagi, jakie chcesz dodać do zdjęcia. Tag powinien zaczynać się od znaku #</p>
      </label>
      <mat-form-field class="w-100 mr-5">
        <textarea matInput
                  [(ngModel)]="tags"
                  id="tagsTextArea"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="10"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <button class="btn btn-success mt-4" [disabled]="form.invalid || form.pending">Dodaj</button>
</form>
