<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="d-flex">
    <label for="name" class="text-muted big-font">#</label>
    <input class="form-control big-font"
           type="text" name="newTag"
           id="name" formControlName="name">
  </div>
  <div class="text-danger" *ngIf="name.invalid && name.touched">
    <div *ngIf="name.errors.required">Wpisz nazwę tagu</div>
    <div *ngIf="name.errors.uniqueTagName">Istnieje już tag o podanej nazwie</div>
  </div>

  <div class="mt-5 d-flex justify-content-around">
    <button type="submit" class="btn btn-success big-font px-5">Dodaj</button>
    <button type="button" class="btn btn-secondary big-font px-5" (click)="discard()">Anuluj</button>
  </div>
</form>
