<header>
  <h2>Welcome in Photo Flicker!</h2>
  <div class="d-flex justify-content-center h3">Type some tag to see related photos. You've got &nbsp;<h2 class="text-success">{{time}}</h2>&nbsp; seconds to describe it's content</div>
  <h2 class="d-flex justify-content-end">Good luck!</h2>
</header>

<div class="d-flex time-panel">
  <p class="margin-10">Wybierz czas:</p>
  <button class="btn btn-sm btn-secondary margin-10" (click)="time = 1" >test</button>
  <button class="btn btn-sm btn-secondary margin-10" (click)="time = 15" >15</button>
  <button class="btn btn-sm btn-secondary margin-10" (click)="time = 30" >30</button>
  <button class="btn btn-sm btn-secondary margin-10" (click)="time = 50" >50</button>
</div>


<form class="d-flex justify-content-between" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group my-auto">
    <label>
      <input type="text"
             formControlName="searchTag"
             [(ngModel)]="tag"
             class="form-control big-font">
    </label>
  </div>

  <button class="btn btn-success big-font align-middle" type="submit" [disabled]="form.invalid">Start!</button>
</form>
<div class="text-danger pl-2">{{ message }}</div>
