<header>
  <h2>Welcome in Photo Flicker!</h2>
  <h3 class="d-flex justify-content-center">Type some tag to see related photos. You've got 20 seconds to describe it's content</h3>
  <h2 class="d-flex justify-content-end">Good luck!</h2>
</header>

<form class="d-flex justify-content-around" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group my-auto">
    <label>
      <input type="text"
             formControlName="searchTag"
             [(ngModel)]="tag"
             class="form-control big-font">
    </label>
  </div>

  <button class="btn btn-success big-font align-middle" type="submit" [disabled]="form.invalid">Start!</button>
</form>
