<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Photo Flicker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark green-hoover" [routerLink]="['/photos/new']">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark green-hoover" [routerLink]="['/photos']">Photos</a>
          </li>
          <li class="nav-item drop-menu dropdown green-hoover">
            <a class="nav-link text-dark dropdown-source">Tags</a>
            <div class="dropdown-content bg-white">
              <a [routerLink]="['/tags/new']">Dodaj</a>
              <a [routerLink]="['/tags/new']">Wszystkie</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
